{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", intial-scale=1.0>
   <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'pomo.css' %}" />
  <title>
      Podomoro Timer
  </title>
</head>
<body>
 
  <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <ul>
    <li><a href="../loginApp/">Kladaf</a></li>
    <li><a href="../diary/">Diary</a></li>
    <li><a href="">Podomoro Timer</a></li>
    <li><a href="../progress-tracker/">Progress Tracker</a></li>
    <li><a href="../weekly-schedule/">Weekly Schedule</a></li>
    <li><a href="../wish-list/">Wish List</a></li>
  </ul>

  <h1>Podomoro Timer</h1>
  <center>
  <div class="btn-group">
    <button type="button" class= "btn-primary podomoro" onclick="podomoro()">Podomoro</button>
    <button type="button" class= "btn-primary shortBreak" onclick="shortBreak()">Short Break</button>
    <button type="button" class= "btn-primary longBreak" onclick="longBreak()">Long Break</button>
  </div>
   </center>
  <div class="container text-center">
    <div class="row">
      <div class="col-4">
      
      </div>
      <div class="col-4 timer" id="timer">
        00:00
      </div>
      <div class="col-4">
      
      </div>
    </div>
    <button type="button" class="pause" onclick="pause()">Pause</button>
    
  </div>
  
   <div class="container">
      <div class="row justify-content-center">
          <center>
          <div class="col-4 mt-5">
           <form class="form-inline" id="form" method="post" action="{% url 'addNewTask' %}">
               {% csrf_token %}
               <div class="form-group mx-sm-3 mb-2">
                 <input type="text" class="form-control" id="input" placeholder="What are you working on?" style= "width: 400px;" data-ur="addNewTask">
               </div>
               <button type="submit" class="btn btn-outline-success" id="add-btn" style="background-color: cadetblue; color: black;" data-url="{% url 'addNewTask' %}">+ Add Task</button>
 
           </form>
          <div class="col-5 mt-5">
              {% for task in task %}
              <div class="card mb-1" style="width: 300px; right: 55px;">
                  <div class="card-body">
                    {{task.task}}
                    <button type="button" class="close float-right" style="right: auto;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% endfor %}
          </div>
          </center>
      </div>
  </div>
 
 
 
  <script src="{% static 'pomo.js' %}"></script>
</body>
</html>
