@import url("http://fonts.cdnfonts.com/css/sedan");

body {
  font-family: "Sedan", sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #0d1b2a;
}

#button {
  float: right;
}

#bottomElement {
  padding-top: 10px;
  margin-bottom: 10pxf;
}

#diaryForm {
  margin-top: 4%;
  background-color: #415a77;
  padding: 20px;
  border-radius: 10px;
}

.floatingTextArea {
  resize: none;
  overflow: hidden;
}

.floatingTextArea::-webkit-scrollbar {
  display: none;
}

.jumbotron {
  background-color: #e0e1dd;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  border-radius: 10px;
}

.card {
  background-color: #e0e1dd;
}
