<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Note</title>
    <!-- <style>
        .navbar-status {
            width: auto;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-bottom: 50rem;
            background-color: #e0e1dd;
            color: #1B263B;
        }

        .navbar-app-status {
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    </style> -->
</head>
<body style="background-color: #0D1B2A;">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container px-5">
          <a class="navbar-brand" href="#"><h3>Kladaf</h3></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-left: 35rem; padding-right: 15rem;">
                <li class="nav-item">
                    <a class="nav-link" href="/diary/">Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/progress-tracker/">Progress Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wish-list/">Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rate/">Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>
</body>