<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Schedule</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
        * {
        box-sizing: border-box;
        }

        body {
            font-family: "Poly", Tahoma, Geneva, Verdana, sans-serif;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .schedule-container {
            width: 1100px;
            height: 85vh;
            display: flex;
            box-shadow: 0 12px 18px rgba(0,0,0,0.2);
            margin-top: 8rem;
            margin-bottom: 3rem;
        }

        .status {
            width: 25%;
            background-color: #1B263B;
            position: relative;
            padding: 60px 1rem 0.5rem;
        }

        .status:nth-child(even) {
            background-color: #1E2A40;
        }

        .status h4 {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            color: #e0e1dd;
            width: 100%;
            padding: 0.5rem 1rem;
        }

        #add_btn {
            padding: 0.5rem 1rem;
            outline: none;
            border: none;
            width: 100%;
            font-size: 1.5rem;
            margin: 0.5rem 0;
            border-radius: 4px;
            cursor: pointer;
            color: #e0e1dd;
        }

        #add_btn:hover {
            background-color: #aaa;
            transform: translateY(-3px);
            box-shadow: 0 12px 18px rgba(0,0,0,0.2);
        }

        .schedule {
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            outline: none;
            border: none;
            background: linear-gradient(40deg,#6c757d,#787d81);
            color: #e0e1dd;
            box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
                rgba(15, 15, 15, 0.1) 4px 4px 4px;
            border-radius: 4px;
            width: 5rem;
            height: 3rem;
            font-size: 1rem;
            text-align: center;
            margin: 0.5rem 1.5rem;
            margin-bottom: 1rem;
        }

        .schedule:hover {
            transform: translateY(-1px);
            box-shadow: 5px 5px 10px rgba(224, 208, 208, 0.2);
        }

        /* modal */

        .close-modal {
            background: none;
            border: none;
            font-size: 1.5rem;
        }

        .modal.active {
            top: 15%;
        }

        .popup-header {
            padding: 1rem;
            background-color: #1B263B;
            color: #e0e1dd;
            border: none;
        }

        .popup-body {
            padding: 1rem;
            background-color: #283a4e;
            color: #e0e1dd;
        }

        .popup-footer {
            padding: 1rem;
            background-color: #0D1B2A;
            border: none;
        }

        .modal .body {
            padding: 0.75rem;
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        #overlay.active {
            display: block;
        }

        ul{ 
            list-style-type: none;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'css/js/script.js' %}"></script>
  </head>
  <body>
    {% include "weeklyschedule_navbar.html" %}
    {% csrf_token %}
    <!-- schedule -->
    <div class="schedule-container">

      <div class="status">
        <h4>Senin</h4>
        {% for schedule in monday %}
            <!-- Button trigger modal -->
            <button class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
                {{ schedule.hour }}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body popup-body">
                            <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                        </div>
                        <div class="modal-footer popup-footer">
                            <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`monday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Selasa</h4>
        {% for schedule in tuesday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`tuesday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Rabu</h4>
        {% for schedule in wednesday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`wednesday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Kamis</h4>
        {% for schedule in thursday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`thursday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Jumat</h4>
        {% for schedule in friday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`friday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Sabtu</h4>
        {% for schedule in saturday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`saturday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>

      <div class="status">
        <h4>Minggu</h4>
        {% for schedule in sunday %}
        <!-- Button trigger modal -->
        <button type="button" class="schedule" draggable="true" data-bs-toggle="modal" data-bs-target="#mymodal{{ schedule.id }}">
            {{ schedule.hour }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="mymodal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:rgba(0, 0, 0, 0.3)">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body popup-body">
                        <p>Activity: {{ schedule.activity }}<br />Details: {{ schedule.detail }}<br />Message: {{ schedule.message }}</p>
                    </div>
                    <div class="modal-footer popup-footer">
                        <a href=""><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
                            <a><button onclick="deleteRequest(`sunday`, this)" type="button" class="btn btn-danger" data-dismiss="modal">Delete <span class={{ schedule.id }} hidden></span></button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
      </div>
    </div>

    <ul>
        <li><a href="add-schedule">
            <button id="add_btn" data-target-modal="#schedule_form" style="font-size: 1rem; background-color: #21355F;">+ Add Schedule</button>
        </a></li>
        <li><a href="delete-all">
            <button id="add_btn" data-target-modal="#schedule_form" style="font-size: 1rem; background-color: #778DA9;">- Delete All</button>
        </a></li>
    </ul>
    <div id="overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>