<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Weekly Schedule</title>
    <style>
        * {
        box-sizing: border-box;
        }

        body {
            font-family: "Poly", Tahoma, Geneva, Verdana, sans-serif;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .schedule-container {
            width: 7500px;
            height: 80vh;
            display: flex;
            justify-content: center;
            margin-top: 7rem;
        }

        .status {
            width: 25%;
            background-color: #f3f3f3;
            position: relative;
            padding: 60px 1rem 0.5rem;
        }

        .status:nth-child(even) {
            background-color: #e9e9e96b;
        }

        .status-h3 {
            text-align: center;
            color: #a0aed8;
            padding-top: 1rem;
        }

        .container {
            width: 35rem;
            align-items: center;
            padding-top: 2.5rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            margin-right: 12rem;
            margin-left: 9rem;
            background-color: #1B263B;
            box-shadow: 0 12px 18px rgba(0,0,0,0.2);
        }

        .day {
            background-color: #415A77;
            color: #e0e1dd;
            box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
                rgba(15, 15, 15, 0.1) 0px 2px 4px;
            border-radius: 1rem;
            padding: 0.5rem 2rem;
            font-size: 1.0rem;
            margin: 0.5rem 10rem;
        }

        .day:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 18px rgba(0,0,0,0.2);
        }

        .schedule {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            background-color: #415A77;
            box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
                rgba(15, 15, 15, 0.1) 0px 2px 4px;
            border-radius: 1rem;
            padding: 0.5rem 1.8rem;
            font-size: 1.0rem;
            margin: 0.5rem 8rem;
        }

        .schedule-title {
            padding-left: 9rem;
            color: #e0e1dd;
        }

        .submit-button {
            outline: none;
            border: none;
            cursor: pointer;
            margin-top: 3rem;
            margin-left: 22rem;
            margin-bottom: 4rem;
            border-radius: 4px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #778DA9;
            color: #e0e1dd;
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        #overlay.active {
            display: block;
        }

        ul { 
            list-style-type: none;
        }
        li {
            padding-bottom: 2rem;
            padding-top: 1rem;
        }
    </style>
  </head>
  <body style="background-color: #0D1B2A;">
    {% include "weeklyschedule_navbar.html" %}
    <!-- schedule -->
    <div class="schedule-container">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="container">
                <h3 class="status-h3" style="padding-bottom: 1rem;">Fill The Information</h3>
                <li>
                    <label for="Activity" class="schedule-title">Activity</label>
                    <div class="schedule">{{ form.activity }}</div>
                </li>
                <li>
                    <label for="Hour" class="schedule-title">Hour</label>
                    <div class="schedule">{{ form.hour }}</div>
                </li>
                <li>
                    <label for="Detail" class="schedule-title">Detail</label>
                    <div class="schedule">{{ form.detail }}</div>
                </li>
                <li>
                    <label for="Message" class="schedule-title">Message</label>
                    <div class="schedule">{{ form.message }}</div>
                </li>
            </ul>
            
            <ul class="container" style="padding-bottom: 3rem;">
                <h3 class="status-h3" style="margin-bottom: 2.5rem;">Choose The Day</h3>
                <li class="day">{{ form.monday }} Monday</li>
                <li class="day">{{ form.tuesday }} Tuesday</li>
                <li class="day">{{ form.wednesday }} Wednesday</li>
                <li class="day">{{ form.thursday }} Thursday</li>
                <li class="day">{{ form.friday }} Friday</li>
                <li class="day">{{ form.saturday }} Saturday</li>
                <li class="day">{{ form.sunday }} Sunday</li>
            </ul>
            <input type="submit" value="Add Schedule" class="submit-button">
        </form>
    </div>
    <div id="overlay"></div>
    <script src="script.js"></script>
  </body>
</html>