@import url('https://fonts.cdnfonts.com/css/sedan');

ul {
   list-style-type: none;
   margin: 0;
   padding: 5px;
   overflow: hidden;
   background-color: #333;
 }
 
li {
   float: left;
}
 
li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
 
 /* Change the link color to #111 (black) on hover */
li a:hover {
   background-color: #111;
}

h1 {
color: white;
font-family: 'Sedan', sans-serif;
text-align: center;
font-size: 70px;
}
.btn-group button {
  background-color: lightblue;
  border: none;
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer;
  float: left; /* Float the buttons side by side */
  width: 140px;
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
 /* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
 /* Add a background color on hover */
.btn-group button:hover {
  background-color: gray;
}


.timer {
font-family: 'Nunito Sans', sans-serif;
font-size: 100px;
color: white;
}


body {
background-color: #1B263B;
}

body {font-family: Arial, Helvetica,sans-serif;}
* {box-sizing: border-box;}


.pause {
background-color: #B4D4F9;
padding: 15px 20px;
box-shadow: 0 9px #999;
font-size: 20px;
color: black;
padding: 16px 20px;
border: none;
cursor: pointer;
box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
border-radius: 30px;
}


.pause:active{
box-shadow: 0 5px whitesmoke;
transform: translateY(4px);
}


h6 {
color:white;
font-family: 'Roboto';
font-size: 120%;
text-align: center;
padding: 10px;
font-weight: 500;
}
