<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../static\css/style.css" /> -->
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .todo-container {
        width: 1000px;
        height: 80vh;
        display: flex;
      }

      .card {
        width: 25%;
        background-color: #415a77;
        position: relative;
        padding: 60px 0.5rem 0.5rem;
      }

      .card:nth-child(even) {
        background-color: #415a77b6;
      }

      .card h1 {
        position: absolute;
        top: 0.15rem;
        left: 0.15rem;
        background-color: #0D1B2A;
        background-position: center;
        color: #e0e1dd;
        margin: 0;
        width: 90%;
        padding: 0.5rem 0.5rem;
        border-radius: 4px;
        text-align: center;
      }

      #add_btn {
        padding: 0.5rem 1rem;
        background-color: #e0e1dd;
        outline: none;
        border: none;
        width: 100%;
        font-size: 1.5rem;
        color: #0d1b2a;
        margin: 0.5rem 0;
        border-radius: 4px;
        cursor: pointer;
      }

      #add_btn:hover {
        background-color: #e0e1dd;
      }

      .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #415a77;
        color: #e0e1dd;
        box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
          rgba(15, 15, 15, 0.1) 0px 2px 4px;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        margin: 0.5rem 0;
      }

      .todo .close {
        position: absolute;
        right: 0.5rem;
        top: 0rem;
        font-size: 1rem;
        color: #ccc;
        cursor: pointer;
      }

      .todo .close:hover {
        color: #343444;
      }

      .todo .update {
        position: absolute;
        right: 2rem;
        top: 0rem;
        font-size: 1rem;
        color: #ccc;
        cursor: pointer;
      }

      .todo .edit {
        position: absolute;
        right: 0.5rem;
        top: 1rem;
        font-size: 1rem;
        color: #ccc;
        cursor: pointer;
      }

      #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }

      #overlay.active {
        display: block;
      }

    </style>
    <title>Progress Tracker</title>
  </head>
  <body style="background-color: #1b263b;">
    <div class="todo-container">
      <div class="card" id="no_card">
        <h1>No Status</h1>
        <a href="/progress-tracker/add-tasks">
          <button id="add_btn" data-target-modal="#todo_form">+ Add Todo</button>
        </a>
        <div class="contentBx">
        {% if no_status %} 
          {% for info in no_status %}
        <tr>
          <div class="todo" draggable="true">{{ info.add_tasks }}
            <tr>
              <a href="{{ info.id }}/delete-tasks/" class="close">&times;</a>
              <a href="{{ info.id }}/update-tasks/" class="edit">up</a>
            </tr>
          </div>
        {% endfor %}
        {% endif %}
        </tr>
        </div>
      </div>
      <div class="card">
        <h1>Not Started</h1>
        <div class="contentBx">
        {% if not_started %} 
          {% for info in not_started %}
        <tr>
          <div class="todo" draggable="true">{{ info.add_tasks }}
            <tr>
              <a href="{{ info.id }}/delete-tasks/" class="close">&times;</a>
              <a href="{{ info.id }}/update-tasks/" class="edit">up</a>
            </tr>
          </div>
        {% endfor %}
        {% endif %}
        </tr>
        </div>
      </div>
      <div class="card">
        <h1>In Progress</h1>
        <div class="contentBx">
          {% if in_progress %} 
            {% for info in in_progress %}
          <tr>
            <div class="todo" draggable="true">{{ info.add_tasks }}
              <tr>
                <a href="{{ info.id }}/delete-tasks/" class="close">&times;</a>
                <a href="{{ info.id }}/update-tasks/" class="edit">up</a>
              </tr>
            </div>
          {% endfor %}
          {% endif %}
          </tr>
        </div>
      </div>
      <div class="card">
        <h1>In Review</h1>
        <div class="contentBx">
          {% if in_review %} 
            {% for info in in_review %}
          <tr>
            <div class="todo" draggable="true">{{ info.add_tasks }}
              <tr>
                <a href="{{ info.id }}/delete-tasks/" class="close">&times;</a>
                <a href="{{ info.id }}/update-tasks/" class="edit">up</a>
              </tr>
            </div>
          {% endfor %}
          {% endif %}
          </tr>
        </div>        
      </div>
      <div class="card">
        <h1>Completed</h1>
        <div class="contentBx">
          {% if completed %} 
            {% for info in completed %}
          <tr>
            <div class="todo" draggable="true">{{ info.add_tasks }}
              <tr>
                <a href="{{ info.id }}/delete-tasks/" class="close">&times;</a>
                <a href="{{ info.id }}/update-tasks/" class="edit">up</a>
              </tr>
            </div>
          {% endfor %}
          {% endif %}
          </tr>
        </div>         
      </div>
    </div>

    <div id="overlay"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
