<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <title>Progress Tracker</title>
      <style>
        body {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .todo-container {
          width: 1000px;
          height: 80vh;
          display: flex;
          justify-content: center;
          margin-top: 7rem;
          text-align: center;
        }
  
        .status {
          width: 25%;
          background-color: #f3f3f3;
          position: relative;
          padding: 60px 1rem 0.5rem;
        }
  
        .status:nth-child(even) {
          background-color: #e9e9e96b;
        }
  
        .status h1 {
          text-align: center;
          color: #a0aed8;
          padding-top: 1rem;
        }
  
        .todo {
          background-color: #415A77;
          color: #e0e1dd;
          box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
              rgba(15, 15, 15, 0.1) 0px 2px 4px;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          font-size: 1.0rem;
          margin: 0.5rem 1rem;
          width: fit-content;
          align-content: center;
        }

        .task-title {
        color: #e0e1dd;
        text-align: center;
        }

        .container {
          width: fit-content;
          align-items: center;
          padding: 2rem;
          margin-right: 12rem;
          margin-left: 9rem;
          background-color: #1b263b;
          box-shadow: 0 12px 18px rgba(0,0,0,0.2);
        }

        ul { 
          list-style-type: none;
        }
        
        li {
            padding-bottom: 2rem;
            padding-top: 1rem;
        }

        #overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }

        #overlay.active {
            display: block;
        }

      </style>
    </head>
    <body style="background-color: #1b263b;">
      <div class="todo-container">
        <form action="" method="POST">
          {% csrf_token %}
          <ul class="container">
            <!-- <div class="status-h1" style="padding-bottom: 1rem;">Add Your Task Here</div> -->
            <li>
              <label for="Add Task" class="task-title">Task</label>
              <div class="todo">{{ form.add_tasks }}</div>
            </li>
            <li>
              <label for="Add Status" class="task-title">Status</label>
              <div class="todo">{{ form.status }}</div>
            </li>
          </ul>
          <input type="submit" value="Add" class="btn btn-primary" style="background-color: #adb5bd; border: #B0C4DE; "/>
        </form>
      </div>
  
      <div id="overlay"></div>
  
      <script src="../static/js/script.js"></script>
    </body>
</html>