{% extends 'base.html' %} {% load static %} {% block meta %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/diary_style.css' %}" />

<title>KLADAF - Diary</title>
{% endblock meta %} {% block content %}
<main class="flex-shrink-0">
  <!-- Navigation Bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="index.html">Kladaf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/diary/">Diary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress-tracker/">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wish-list/">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rate/">Rate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Form -->
  <div class="container" id="diaryForm">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-floating mb-3" id="formInput">
        {{form.judul}}
        <label for="floatingInput">Title</label>
      </div>
      <div class="form-floating" id=>
        {{form.isi}}
        <label for="floatingTextarea">Contents</label>
        <div id="bottomElement">
          <span id="current">0</span>
          <span id="max">/ 5000</span>
          <input type="submit" value="Save Diary" class="btn btn-primary" id="button" />
        </div>
      </div>
    </form>
  </div>
</main>

<!-- <p><img src="{% static 'img/django-logo-negative.svg' %}" /></p> -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/diaryScript.js' %}"></script>
{% endblock content %}