{% extends 'base.html' %} {% load static %} {% block meta %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/diary_style.css' %}" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<title>KLADAF - Diary</title>
{% endblock meta %} {% block content %}
<main class="flex-shrink-0">
  <!-- Navigation Bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="index.html">Kladaf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/diary/">Diary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress-tracker/">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wish-list/">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rate/">Rate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginApp/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Welcome to Kladaf Diary</h1>
    <p class="lead">A simple way to write and keep your own personal diary</p>
    <hr class="my-4">
    <p>Start to write your diary</p>
    <a class="btn btn-outline-primary btn-lg" href="add" role="button" id="addButton">Add Diary</a>
    <a> or </a>
    <a class="btn btn-outline-danger btn-lg" draggable="true" data-bs-toggle="modal"
      data-bs-target="#deleteAllModal">Delete All</a>
  </div>

  <div class="modal fade" id="deleteAllModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:#E0E1DD">
        <div class="modal-header popup-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete All Diary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body popup-body">
          <p>Are you sure you want to delete all diary</p>
        </div>
        <div class="modal-footer popup-footer">
          <a class="btn btn-sm btn-danger btn-lg delete" href="delete-all" role="button">Delete</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container" id="cardView">
    {% csrf_token %}

  </div>

</main>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/diaryScript.js' %}"></script>
{% endblock content %}