<!-- Diary Card -->
<div class="row justify-content-center">
    {% if diaries %} {% for diary in diaries %}
    {% csrf_token %}
    <div class="card text-center mb-3 mx-3" style="max-width: 400px" id="card{{ diary.id }}">
        <div class="card-body">
            <div>
                <p class="card-text">
                    <small class="text-muted">Posted: {{ diary.tanggal }}</small>
                <h3 class="card-title">{{ diary.judul }}</h3>
                </p>
            </div>

            <!-- Modal Trigger-->
            <div class="row align-items-end">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-outline-primary" draggable="true" data-bs-toggle="modal"
                        data-bs-target="#modal{{ diary.id }}">
                        View Diary
                    </button>

                    <button href="{{ diary.id }}/delete" type="button" class="btn btn-outline-danger" draggable="true"
                        data-bs-toggle="modal" data-bs-target="#deleteModal{{ diary.id }}">Delete</button>


                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal{{ diary.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color:#E0E1DD">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">Diary Content</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body popup-body">
                            <p>{{ diary.isi }}</p>
                        </div>
                        <div class="modal-footer popup-footer">
                            <a>{{ diary.tanggal }}</button></a>
                            <a>{{ diary.id }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal{{ diary.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color:#E0E1DD">
                        <div class="modal-header popup-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Diary</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body popup-body">
                            <p>Are you sure you want to delete "{{ diary.judul }}"</p>
                        </div>
                        <div class="modal-footer popup-footer">
                            <a class="btn btn-sm btn-danger btn-lg delete" name="{{ diary.id }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %} {% endif %}
</div>