{% extends 'base.html' %}
{% load static %}

{% block meta %}

  <title>KLADAF - Rating</title>
  <link rel="stylesheet" href="{% static 'rating.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

{% endblock meta %}

{% block content %}
<body>
<div class="container">
  <div class="post">
    <a href="{% url 'Review' %}" class="edit">BACK</a>
  </div>
  <div class="questions">
    <label>
    Bagaimana menurut anda tentang web kami secara keseluruhan?
    </label>
  </div>
  <form class="review-form" action="" method="post" id="form">
    {% csrf_token %}
    <div class="form-group"> 
      <div class="star-widget">
        <input type="radio" id="rate-5" name="rate" value="5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" id="rate-4" name="rate" value="4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" id="rate-3" name="rate" value="3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" id="rate-2" name="rate" value="2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" id="rate-1" name="rate" value="1">
        <label for="rate-1" class="fas fa-star"></label>
      </div>
    </div>
    <div class="form-group">
      <div class="textarea">
        <textarea class="input" type="text" name="description" 
          placeholder="Describe your experience 
(type '-' is no comment)"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="btn">
        <button class="primary-btn" type="submit" id="submit">POST</button>  
      </div>
    </div>
  </form>
</body>  

<script src="https://code.jquery.com/jquery-3.6.0.js"  
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 <script>
  const form = document.getElementById('form')
    form.addEventListener("submit", ajaxfunx);

    function ajaxfunx(e){
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: "{% url 'Rate' %}",
        data: $("#form").serialize(),
        dataType: 'json',
        success: function(data){
          if(data.message === 'Berhasil'){
            alert('Thanks for your rating!');
            window.location.href="{% url 'Review' %}"
          }
        }
      })
    }
</script>
{% endblock content %}