{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>KLADAF - Review</title>
<link rel="stylesheet" href="{% static 'review.css' %}">
<link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock meta %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="/"><h3>Kladaf</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-left: 35rem; padding-right: 15rem;">
        <li class="nav-item">
          <a class="nav-link" href="/diary/">Diary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/progress-tracker/">Progress Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wish-list/">Wishlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rate/">Rate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rate/rate/">Rate Now</a>
      </li>
      </ul>
    </div>
  </div>
</nav>
<body>
{% if review %}
{% for data in review %}
<div class="card text-center" style="width: 18rem; margin-top: 100px;">
    <div class="card-body">
        <span {% if data.star > 0 %} class="fa fa-star checked" {% else %} class="fa fa-star" {% endif %}></span>
        <span {% if data.star > 1 %} class="fa fa-star checked" {% else %} class="fa fa-star" {% endif %}></span>
        <span {% if data.star > 2 %} class="fa fa-star checked" {% else %} class="fa fa-star" {% endif %}></span>
        <span {% if data.star > 3 %} class="fa fa-star checked" {% else %} class="fa fa-star" {% endif %}></span>
        <span {% if data.star > 4 %} class="fa fa-star checked" {% else %} class="fa fa-star" {% endif %}></span>
      <p class="pesan">Description: <br> {{data.description}}</p>
      <small>Last Update: {{ data.created_at }}</small>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h1> There is not yet rate! </h1>
{% endif %}
</body>
{% endblock content %}
