{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wish List</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
		 <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'styleWishList.css' %}" />
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-5">
			  <a class="navbar-brand" href="index.html">Kladaf</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link" href="/diary/">Diary</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/progress-tracker/">Proggres Tracker</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/wish-list/">Wishlist</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/rate/">Rate</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/loginApp/logout">Logout</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
		<div class="container-fluid" id="wrapper">
			<h2> Wish List</h2>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<!-- <h2>Wish List</h2> -->
					
					<form method="POST" role="form", id="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							  {{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>

                    <ul class="list-group t20">
						{% for wish in wish_list %}
							{% if wish.complete %}
							<li class="list-group-item todo-completed">{{ wish.text }}</li>
							{% else %}
							<a href="{% url 'completeWishList' wish.id %}"><li class="list-group-item">{{ wish.text }}</li></a>
							{% endif %}
						{% endfor %}
					</ul>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'viewWishList' %}"><button type="button" class="btn btn-warning" style="font-size:12px;">
										<i class="glyphicon glyphicon-refresh"></i> VIEW ALL
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deletecompleteWishList' %}"><button type="button" class="btn btn-warning" style="font-size:11px;">
										<i class="glyphicon glyphicon-check"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteallWishList' %}"><button type="button" class="btn btn-warning" style="font-size:12px;">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.5.0.min.js"
			integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
			crossorigin="anonymous"></script>
		<script 
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        	crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        	crossorigin="anonymous"></script>
		<script>
			const form = document.getElementById('form');
			form.addEventListener("submit", submitHandler);

			function submitHandler(e) {
				e.preventDefault();
				$.ajax({
					type        : 'POST',
					url         : "{% url 'addWishList' %}",
					data        : $('#form').serialize(),
					dataType    : 'json', 
					success     : successFunction
				});
			}

			function successFunction(msg) {
				if (msg.message === 'success') {
					alert('Success!');
					form.reset()
				}
			}
		</script>
	</body>
</html>