@import url("http://fonts.cdnfonts.com/css/sedan");

body {
	font-family: "Sedan", sans-serif;
	font-size: 50px;
	background: #1B263B;
}
#wrapper {
	margin-top: 2% !important;
}
#content {
	background: #415A77;
	padding: 10px;
}
#wrapper > h2 {
	font-family: 'Hahmlet', serif;
	font-size: 30px;
	text-align: center;
	padding-top: 0;
	margin-bottom: 50px;
	color: #E0E1DD;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: #e0e1dd;
}
.list-group-item {
	color: #0D1B2A;
	margin: 7px;
}
.btn {
	background-color: #778DA9;
	border-color: #778DA9;
	color: #E0E1DD;
}
.btn-group {
	margin-right: 15px;
}
.btn:hover {
	background-color: #0D1B2A;
	border-color: #0D1B2A;
	color: #e0e1dd;
}
