@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #0D1B2A;
}

.container{
    width: 400px;
    background: #1B263B;
    padding: 20px 30px;
    border: 1px solid #415A77;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post{
    display: block;
}
.container .text{
    font-size: 25px;
    color: #FFF;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.container .description{
    display: block;
}
.questions label{
    font-size: 20px;
    color: #FFF;
}
.star-widget label{
  font-size: 40px;
  color: #778DA9;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #FD4;
}
input:checked ~ label{
    color: #FD4;
}
input#rate-5:checked ~ label{
    color: #FE7;
    text-shadow: 0 0 20px #952;
}
/* #rate-1:checked ~ form header:before{
    content: "Kurang :("
}
#rate-2:checked ~ form header:before{
    content: "Hm biasa aja"
}
#rate-3:checked ~ form header:before{
    content: "Lumayan"
}
#rate-4:checked ~ form header:before{
    content: "Kerennn"
}
#rate-5:checked ~ form header:before{
    content: "Mantappp!!!"
} */
.container form{
    display: block;
}
input:checked ~ form{
    display: block;
}
/* form header{
    width: 100%;
    font-size: 25px;
    color: #FE7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
} */
.form-group .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
::placeholder{
    color: white;
}
.form-group .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #EEE;
    border: 1px solid #415A77;
    background: #778DA9;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: rgb(255, 255, 255);
} 
.form-group .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
.form-group .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #415A77;
    outline: none;
    background: #415A77;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-group .btn button:hover{
    background: #0D1B2A;
}