html, body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #0D1B2A;
}

.card{
    border: 3px solid black;
    margin: 0 auto;
    float: none;
    margin-top: 50x;
    margin-bottom: 10px;   
}
.card h1{
    text-align: center;   
}
.card h5{
    margin-left: 15px;  
}
.card p{
    margin-left: 15px;
    margin-right: 15px;
}

.checked {
    color: orange;
}