
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script> -->

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #1b263b !important;
		}

		.profile-pic{
			max-width: 190px;
			max-height:190px;
			margin: 0 auto;
			border-radius: 50%;
		}

		.row{
			background: #1b263b;
		}

		.col-md-3{
			background: #1b263b;
		}

		.col-md-7{
			background: #1b263b;
		}
		
		.card {
			background: #e0e1dd;
		}

		.btn{
			background: #778da9 !important;
			color: #0d1b2a !important;
		}
	</style>


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
		  <a class="navbar-brand" href="#">Kladaf</a>
		  <button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		  >
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link" href="/diary/">Diary</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/progress-tracker/">Progress Tracker</a>
			  </li>
	
			  <li class="nav-item">
				<a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/wish-list/">Wishlist</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/rate/">Rating</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			  </li>
			</ul>
		  </div>
		</div>
	</nav>

	{% for message in messages %}
		<p id="messages">{{message}}</p>
	{% endfor %}

<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body"></a> 
					<button type="button" class="btn btn-secondary" href="{% url 'login' %}"> &#8592; Back to Home</button>
					<hr>
					<h3 style="text-align: center; font-weight: bold">Profile Account</h3>
					<hr>
					<img class="profile-pic" src="{{user.customer.profile_pic.url}}">
				</div>
			</div>
			
			<div class="col-md-7">
				<div class="card card-body">
					
					<!-- <form method="POST" action="" enctype="multipart/form-data">  -->
					
						<h5 class="f-w-400">Name : {{user.customer.name}}</h5>
						<h5 class="mt-3 mb-0">Hobby : {{user.customer.hobby}}</h5>
						<hr>
						<h4 style="font-weight: bold; text-align: center"  >Edit Profile</h3>
						<hr>
						<form method="POST" role="myform3", id="myform3">
							{% csrf_token %}
							{{form.as_p}}
							<!-- <div class="form-group mx-sm-3 mb-2">
								<input type="text" class="form-control" id="name" placeholder="What are you working on?" style= "width: 400px;" data-ur="addNewTask">
							</div> -->
							<!-- <div class="form-group mx-sm-3 mb-2">
								<label class="form-control-label" id="name">Name : </label>
								{{form.name}}
							</div>

							<div class="form-group mx-sm-3 mb-2">
								<label class="form-control-label" id="hobby">Hobby : </label>
								{{form.hobby}}
							</div>

							<div class="form-group mx-sm-3 mb-2">
								<label class="form-control-label" id="image">Profile Photo</label>
								{{form.profile_pic}}
							</div>
						 -->
					
							<button type="submit" class="btn btn-secondary" id="btn">Submit</button>
						</form>
					<!-- </form>  -->
				</div>
			</div> 
		</div>
	</div>

	<script
			src="https://code.jquery.com/jquery-3.5.0.min.js"
			integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
			crossorigin="anonymous"></script>
	<script 
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
	<script> 
	
			const myform3 = document.getElementById("myform3");
			
			myform3.addEventListener("submit", submitHandler);
			
				function submitHandler(e) {
					e.preventDefault();
					
					$.ajax({
						type : 'POST',
						url  : "{% url 'account' %}",
						data : $("#myform3").serialize(),
						dataType : 'json', 
						success : successFunction
					});
				}
				
			function successFunction(msg) {
				if (msg.message === 'success') {
					alert('Your profile has been updated!');
				}
			}
		

		// $(document).on("submit", "#myform3", function(e) {
		// // $("myform").submit(function(e) {
		// $("#myform3").on('submit', function(e) {
      		// alert("success");
		
			// e.preventDefault();
			// $.ajax({
			// 	type:'POST',
			// 	url: "{% url 'account' %}",
			// 	data: $('#myform3').serialize(),
			// 	dataType: 'json',
			// 	success:function() {
			// 		alert("Your profile has been updated!");
			// 		form.reset()
			// 	}
			// });
		// });

		// const csrf = document.getElementByName('csrfmiddlewaretoken');
		// const myform = document.getElementById("name");
		// const myform = document.getElementById("hobby");
		// const myform = document.getElementById("image");

		// myform.addEventListener("submit", submitHandler);



	</script>
</body>


</html>
