{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kladaf</title>
{% endblock meta %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="#"><h3>Kladaf</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-left: 35rem; padding-right: 15rem;">
        <li class="nav-item">
          <a class="nav-link" href="/diary/">Diary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/podomoro-timer/">Podomoro Timer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/progress-tracker/">Progress Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/weekly-schedule/">Weekly Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wish-list/">Wishlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rate/">Rate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-login">
  <h1>Welcome to Kladaf!</h1>
  <br>
  <h5>We will help you to stay productive</h5>
  <br><br><br><br>
  <a class="login-link" href="{% url 'login' %}">Want to have the best experience? Click here.</a>
</div>
{% endblock content %}
